.playground {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aqua;
}

.playground div {
    width: 20px;
    height: 20px;
    outline: auto;
}

.tetromino {
    background-color: purple;
}