.playground {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.playground div {
    width: 20px;
    height: 20px;
    background-color: aqua;
}