.playground {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aqua;
}

.playground div {
    width: 30px;
    height: 30px;
    outline: auto;
}

.tetromino {
    background-color: purple;
}

.freezed {
    background-color: purple;
}